/* below 1800 */

@media (max-width: 112em) {
  p {
    width: 84rem;
  }
}

@media (max-width: 84em) {
  html {
    font-size: 52.5%;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 52em) {
  html {
    font-size: 29%;
  }
}
@media (max-width: 35em) {
  html {
    font-size: 18%;
  }
  .blu {
    height: 80%;
  }
}
