* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
body {
  margin: 0;
  font-family: "Gadugi", sans-serif;
}
.thick {
  background-color: #3399cc;
  margin-top: 0;
  font-size: 5rem;
  color: rgb(255, 255, 255);
  padding: 2.5rem;
  font-family: "Rounded Elegance", sans-serif;
}
#bar {
  background-color: rgb(51, 41, 41);
  padding: 0.5rem;
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.5rem;
}
a {
  color: aliceblue;
  text-decoration: none;
  padding: 1rem;
  font-family: sans-serif;
  font-weight: bold;
}
.box {
  border: 0.1rem solid #444;
  margin-top: 1.5rem;
  margin-left: 5rem;
  /* width: 900px; */
  padding: 1rem;
  display: inline-block;
  font-size: 1.5rem;
}
h2 {
  margin: 0;
}
ul {
  list-style-type: "- ";
  margin-left: 2.5rem;
}

li {
  margin-bottom: 1.5rem;
  padding-left: 0.5rem;
}
li:last-child {
  margin-bottom: 0;
}
article {
  margin: 5rem;
  max-width: 120rem;
  text-align: justify;
}
article h2 {
  margin-bottom: 15px;
}
.blu {
  position: absolute;
  /* align-self: flex-end; */
  /* top: 15px; */
  /* width: 100%; */
  height: auto;

  right: 3rem;
}
p {
  margin-bottom: 1rem;
}
p:last-child {
  margin-bottom: 0;
}
.nilesh {
  font-size: 1.5rem;
}
